body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#board {
    display: grid;
    grid-template-columns: repeat(7, 10vmin);
    grid-template-rows: repeat(6, 10vmin);
    background-color: yellow;
    border: 0.5vmin solid black;
    margin: 0.2vmin;
}


#board > div {
    border: 0.5vmin solid black;
    border-radius: 50%;
}

#markers {
    display: grid;
    grid-template-columns: repeat(7, 10vmin);
    gap: 0vmin;
    margin-top: 0.2vmin;
}

#markers > div {
    height: 0.2vmin;
    border-width: 6vmin;
    border-style: solid;
    border-color: yellow transparent transparent;
    transform: scale(0.6);
  }
  
  #markers > div:hover {
    transform: scale(0.9);
    transition: transform 150ms ease-in;
    border-top-color: black;
  }

button {
    margin-top: 5vmin;
    font-size: 4vmin;
}

h2 {
    text-align: center;
    font-size: 6vmin;
}